body {
    font-size: medium;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    background-color: #F5F5DC; /* beige */
    color: #191970; /* midnight */
    width: 600px;
    margin: 0 auto;
}
	
nav {
    width: 500px;
    padding-bottom: 5px; 
    border-bottom: 5px solid #191970; 
    margin-bottom: 2px;
    line-height: 10px; 
    font-size: 1em; 
    font-family: sans-serif; 
    color: white; 
    margin: 3; 
    padding-top: 12px;
    padding-left: 30px;
    text-align: center;
}

h1 {
    font-size: 2em; 
    font-family: sans-serif; 
}

#google_translate_element {
    position: absolute;
    right: 0;
    top: 0;
  }

p {
    margin: 10px auto;
    margin-left: 5px;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
}

a:link {
    color: #0000CD;
}

a:hover {
    background-color: #DCDCC6;
}

#picture {
    float: right;
}
    
.email {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.at {
    font-style: oblique;
}

.goldfire {
    font-style: oblique;
}

#details {
    display: table;
    width: 600px;
}

#coords {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.section {
    font-weight: bold;
    font-size: large;
}

.subsection {
    font-weight: bold;
}

td.inst {
    width: 300px;
    padding-bottom: 10px;
}

.instname {
    font-weight: bold;
}

.magna {
    font-style: italic;
}

.instname a {
    text-decoration: none;
}

.note {
    display: none;
    overflow: hidden;
}

dt {
    margin-top: 5px;
}

.projname {
    font-weight: bold;
}

li {
    margin-bottom: 5px;
}